<?xml version="1.0" encoding="UTF-8"?>
<!-- Unless explicitly stated otherwise all files in this repository are licensed under the Apache-2.0 License. -->
<!-- This product includes software developed at Datadog (https://www.datadoghq.com/) Copyright 2025 Datadog, Inc. -->
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <!-- The Datadog sidecar tails log files from the shared volume (DD_SERVERLESS_LOG_PATH). -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/shared-volume/logs/app.log</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
